@model DummyAkkaNetWeb.ViewModel.CoilScheduleViewModel

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/viewlib/coilschedule/style.css">
<script src="~/viewlib/coilschedule/index.js"></script>


<h1>入料鋼捲排程資訊</h1>

<div class="btn-group" role="group" aria-label="Basic example">
    @*<a type="button" class="btn btn-secondary" asp-controller="CoilSchedule" asp-action="Index">刷新</a>*@
    <input type="button" id="btn_refresh" class="btn btn-secondary" value="刷新" />
    <input type="button" id="btn_update" class="btn btn-secondary" value="確認" />
</div>

<div id="div_partial">
    @*@await Html.PartialAsync("_Schedule", Model)*@
    @Html.Action("Schedule", "CoilSchedule")
</div>