
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .bk-color {
        background-color: grey;
    }

    .bk-color img {
        background-color: grey;
    }

    .skid-row {
        margin-left: 0px;
        margin-right: 0px;
        height: 100%;
        text-align: right;
    }

    .skid-row-entry { text-align: right; }
    .skid-row-exit { text-align: left; }
    .skid-col { height: 30%; }
    .skid-col-img { height: 20%; }
    .skid-col-btn { height: 10%; }

    .skid-col-img img {
        height: 80%;
        width: auto;
    }

    .run-col canvas {
        background-image: url(img/mill_run_2.gif);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 50%;
        width: 100%;
    }
</style>

<div id="div_track" class="container">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2 bk-color">
            <div class="row skid-row skid-row-entry">
                <div class="col-lg-12 skid-col">
                    
                </div>
                <div class="col-lg-12 skid-col-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 skid-col-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 skid-col-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 skid-col-btn">
                    <button class="btn-success" data-toggle="tooltip" title="入料">入</button>
                    <button class="btn-success" data-toggle="tooltip" title="退料">退</button>
                    <button class="btn-success" data-toggle="tooltip" title="刪除Tracking">刪</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 run-col bk-color">
            <canvas id="canvas_run">
                您的瀏覽器當前版本不支援canvas標籤
            </canvas>
        </div>

        <div class="col-lg-2 bk-color">
            <div class="row skid-row skid-row-exit">
                <div class="col-lg-12 skid-col">
                    
                </div>
                <div class="col-lg-12 skid-col-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 skid-col-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 skid-col-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 skid-col-btn">
                    <button class="btn-success" data-toggle="tooltip" title="出料">出</button>
                    <button class="btn-success" data-toggle="tooltip" title="貼標籤">籤</button>
                    <button class="btn-success" data-toggle="tooltip" title="刪除Tracking">刪</button>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>

        
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>44</p>
            <p>44</p>
            <p>44</p>
            <p>44</p>
            <p>44</p>
            <p>44</p>
            <p>44</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    //  設定繪圖環境
    var cxtRun = $('#canvas_run')[0].getContext('2d');

    $(() => {
        $('.run-col').height($('.skid-row').height());

        sleep(2000);

        DrawCoilLine(cxtRun, 0, 500);
    });

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function DrawCoilLine(cxt, sX, eX) {
        var obj = GetPos();

        //  畫一條線段。		
        cxt.beginPath();            //  開啟新路徑				
        cxt.lineWidth = 5;          //  設定畫筆的寬度				
        cxt.strokeStyle = "white";  //  設定畫筆的顏色				
        cxt.moveTo(sX, 75);         //  設定筆觸的位置				
        cxt.lineTo(eX, 75);         //  設定移動的方式				
        cxt.stroke();		        //  畫線				
        cxt.closePath();	        //  封閉路徑
    }

    function GetPos() {
        var height = $('#canvas').height();

        debugger;

        return {
            Height: height / 2
        };
    }
</script>