
@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/viewlib/tracking/style.css">
<script src="~/viewlib/tracking/index.js"></script>


<h1 id="h_title">鋼捲追蹤資訊</h1>

<div id="div_track" class="container-fluid">
    <div class="row row-track bk-color">
        <div class="col-lg-4">
            <div class="row row-skid row-skid-entry">
                <div class="col-lg-12 col-skid">

                </div>
                <div class="col-lg-12 col-skid-img">
                    <input type="text" id="txt_Uncoiler" readonly />
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 col-skid-img">
                    <input type="text" id="txt_UncoilerSkid1" readonly />
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 col-skid-img">
                    <input type="text" id="txt_UncoilerSkid2" readonly />
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                </div>
                <div class="col-lg-12 col-skid-btn">
                    <button id="btn_input" class="btn-success" data-toggle="tooltip" title="入料">入</button>
                    <button class="btn-success" data-toggle="tooltip" title="退料">退</button>
                    <button class="btn-success" data-toggle="tooltip" title="刪除Tracking">刪</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-run">
            <img src="~/img/mill_run_2.png" />
        </div>

        <div class="col-lg-4">
            <div class="row row-skid row-skid-exit">
                <div class="col-lg-12 col-skid">
                    <div class="row justify-content-end">
                        <div class="col-lg-12 border bg-info">
                            <h3><span class="badge badge-default">SPM RollForce, Elongation</span></h3>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-lg-4 border bg-info">
                            <h5><span class="badge badge-default">Section</span></h5>
                        </div>
                        <div class="col-lg-4 border bg-info">
                            <h5><span class="badge badge-default">RollForce</span></h5>
                        </div>
                        <div class="col-lg-4 border bg-info">
                            <h5><span class="badge badge-default">Elongation</span></h5>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-lg-4 border bg-info">
                            <h5><span class="badge badge-default">Actual</span></h5>
                        </div>
                        <div class="col-lg-4 border">
                            <h5><span id="txt_ActualRollForce" class="badge badge-default"></span></h5>
                        </div>
                        <div class="col-lg-4 border">
                            <h5><span id="txt_ActualElongation" class="badge badge-default"></span></h5>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-lg-4 border bg-info">
                            <h5><span class="badge badge-default">Setup</span></h5>
                        </div>
                        <div class="col-lg-4 border">
                            <h5><span id="txt_SetupRollForce" class="badge badge-default"></span></h5>
                        </div>
                        <div class="col-lg-4 border">
                            <h5><span id="txt_SetupElongation" class="badge badge-default"></span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-skid-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                    <input type="text" id="txt_Recoiler" value="" readonly />
                </div>
                <div class="col-lg-12 col-skid-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                    <input type="text" id="txt_RecoilerSkid2" value="" readonly />
                </div>
                <div class="col-lg-12 col-skid-img">
                    <img src="~/img/LineTrack_CoilD.png" class="img-fluid" />
                    <input type="text" id="txt_RecoilerSkid1" value="" readonly />
                </div>
                <div class="col-lg-12 col-skid-btn">
                    <button class="btn-success" data-toggle="tooltip" title="出料">出</button>
                    <button class="btn-success" data-toggle="tooltip" title="貼標籤">籤</button>
                    <button class="btn-success" data-toggle="tooltip" title="刪除Tracking">刪</button>
                </div>
            </div>
        </div>
    </div>
    <canvas width="1000" height="220"></canvas>
</div>