
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .skid-row {
        margin-left: 0px;
        margin-right: 0px;
        height: 100%;
    }

    #div_track .col-lg-2 {
        background-color: grey;
    }

    .skid-row .col-lg-12 {
        margin-left: 0px;
        margin-right: 0px;
        height: 25%;
    }

    .skid-img {
        background-image: url(img/LineTrack_CoilD.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    .run-img {
        background-image: url(img/mill_run_2.gif);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: grey;
    }

    .col-lg-8 {
        margin-left: 0px;
        margin-right: 0px;
        height: 500px;
    }
</style>

<div id="div_track" class="container">
    <div class="row">
        @*<div class="col-lg-2">
            <button class="btn-success" data-toggle="tooltip" title="出料">出</button>
            <button class="btn-success" data-toggle="tooltip" title="貼標籤">籤</button>
            <button class="btn-success" data-toggle="tooltip" title="刪除資料">刪</button>
        </div>*@
        <div class="col-lg-2">
            <div class="row skid-row">
                <div class="col-lg-12">

                </div>
                <div class="col-lg-12 skid-img">
                    
                </div>
                <div class="col-lg-12 skid-img">
                    
                </div>
                <div class="col-lg-12 skid-img">
                    
                </div>
            </div>
        </div>

        <div class="col-lg-8 run-img">
            
        </div>

        <div class="col-lg-2">
            <div class="row skid-row">
                <div class="col-lg-12">
                    
                </div>
                <div class="col-lg-12 skid-img">

                </div>
                <div class="col-lg-12 skid-img">

                </div>
                <div class="col-lg-12 skid-img">

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <p>44</p>
            <p>44</p>
            <p>44</p>
            <p>44</p>
            <p>44</p>
            <p>44</p>
            <p>44</p>
        </div>
    </div>
</div>