<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CPL產線系統</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/1.0.3/jquery.tablednd.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <nav class="navbar navbar-light bg-light">
                <a button type="button" class="btn btn-primary" asp-controller="Home" asp-action="Index">福欣CPL產線系統</a>
            </nav>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @*鋼捲追蹤*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            鋼捲追蹤
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Tracking" asp-action="Index">鋼捲追蹤資訊</a>
                            <div class="dropdown-divider" hidden></div>
                            <a class="dropdown-item" href="#" hidden>歷史產生設定</a>
                        </div>
                    </li>
                    @*排程資訊*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            排程資訊
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" asp-controller="CoilSchedule" asp-action="Index">入料鋼捲排程資訊</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="CoilPDI" asp-action="Index">入料鋼捲詳細資訊</a>
                        </div>
                    </li>
                    @*成品資訊*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            成品資訊
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">產品鋼捲資訊</a>
                            <div class="dropdown-divider" hidden></div>
                            <a class="dropdown-item" href="#" hidden>產品鋼捲詳細資料</a>
                            <div class="dropdown-divider" hidden></div>
                            <a class="dropdown-item" href="#" hidden>產品鋼捲生產實績</a>
                        </div>
                    </li>
                    @*設備資訊*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            設備資訊
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#" hidden>設備參數</a>
                            <div class="dropdown-divider" hidden></div>
                            <a class="dropdown-item" href="#" hidden>停復機紀錄</a>
                            <div class="dropdown-divider" hidden></div>
                            <a class="dropdown-item" asp-controller="ConnStatus" asp-action="Index">設備連線狀態</a>
                        </div>
                    </li>
                    @*VueDemo*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            VueDemo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="VueDemo" asp-action="Index">Demo1</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - 中冠資訊 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        </div>

        <div class="row">
            <div class="col-6">
                <ul id="ActorMessages"></ul>
            </div>
        </div>

    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/ajax.js"></script>